@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard', sans-serif;
}
.swiper {
  width: 100%;
}

.swiper-slide {
  width: 304px;
  height: 388px;
}
.swiper-wrapper {
  padding-top: 20px;
  padding-bottom: 30px;
}

.swiper .swiper-pagination-bullet {
  background-color: #000;
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
