@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Pretendard', sans-serif;
}
.swiper {
  width: 100%;
}

.swiper-slide {
  width: 304px;
  height: 388px;
}
.swiper-wrapper {
  padding-top: 20px;
  padding-bottom: 30px;
}

.swiper .swiper-pagination-bullet {
  background-color: #000;
}
